<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FDP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create", "Feedback")">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Reports")">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- User Dropdown Right Below Toggler -->
            <li class="nav-item dropdown d-lg-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMobile">
                    <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- User Dropdown Outside Toggler for Large Screens -->
    <ul class="navbar-nav d-none d-lg-flex ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a>
            </div>
        </li>
    </ul>
</nav>
